    /* Sección dos */


.gifts {
    font-family: 'Roboto', sans-serif;
    margin: 135px;
    width: 100%;
    text-align: center;
    color:black;
}

.gifts h1 {
    font-size: 32px;
    padding-bottom: 23px;
}

.gifts p {
    font-size: 18px;
    padding-bottom: 64px;
}

.gifts h3 {
    font-size: 20px;
    padding: 24px 0 74px 24px;
    font-weight: bold;
}

.gifts__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    text-align: left;
}

.gifts__card p {
    padding: 24px 0 74px 24px;
    font-weight: bold;
}


    /* inicio seccion tres */


.container {
    width: 1440px;
    height: 240px;
    background-color: #F7941E;
}

.container_title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #000000;
}

.container_title_dos {
    font-family: sans-serif;
    font-size: 30px;
    color: #000000;
    line-height: 0%
}

.get_started_buttons .btn {
    width: 200px;
    height: 50px;
}

.get_started_buttons .btn-dark {
    align-items: center;
    background-color: #231F20;
    margin-right: 16px;
    border-radius: 5px
}

.get_started_buttons .btn-secondary {
    margin-right: 100px;
    background-color: #F7941E;
    border: 1px solid #000000;
    color: #000000;
}


     /*fin seccion tres /*
